.terminal {
    width: 100%;
    margin: auto;
    max-width: 750px;
    margin-bottom: 50px;
    margin-top: 50px;
    background: #151a23;
    color: #eee;
    box-shadow: rgba(0, 0, 0, 0.42) 5px 5px 25px;
    font-size: 14px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    padding: 25px;
    position: relative;
    box-sizing: border-box;
}
