.td-content {
  pre {
    color: #f8f8f2;
    background-color: #272822;
    border-radius: 0.2rem;
    padding: 10px;

    code {
      color: #f8f8f2;
      border: none;
      padding: 10px;


    }
  }

  code {
    color: #e01e5a;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    padding: 2px 3px 1px;
    background-color: rgba(27,31,35,.05);
  }
}
