.nav-container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
}
.td-navbar {
  background: $navbar-background-color;
  height: 65px;

  .brand-name {
    font-family: "Oxanium";
    font-size: 40px;
  }


  .nav-links-holder {
    width: 100%;
  }

  #main_navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav-links {
      flex-grow: 1;
    }
  }

}

footer {
  min-height: auto !important;

  h5 {
    padding-top: 40px;
    font-weight: bold;
    color: #ccc;
  }

  ul {
    padding-inline-start: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: 0 !important;

    a {
      font-size: 15px;
      color: #ccc;
    }
  }

  background-color: red;
}

