// $primary: #eee;
// $secondary: #aa0000;

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,700,700i";

$enable-rounded: false;

$navbar-background-color: "#fff";
$navbar-light-color: #999;
