#marketing {
  background-color: #ffffff;

  h1 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }

  h2 {
    font-size: 22px;
    color: #999;
    text-align: center;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #workflow {
    padding-top: 30px;
    background-color: #f8f9fa;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    .row {
      align-items: center;
    }
  }

  ul {
    padding-top: 30px;
    li {
      display: flex;
      list-style-type: none;

      i {
        font-size: 20px;
        padding: 5px;
        margin-right: 15px;
        border-radius: 100%;
        max-height: 20px;
      }
    }
  }

  .callout-img {
    width: 100%;
    max-width: 500px;
  }

  #hacker-img {
    border-left: 1px solid #ccc;
    padding-left: 50px;
  }

  #word-of-mouth-img {
    padding-left: 40px;
  }

  .browser-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .browser {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @media only screen and (min-width: 1200px) {
      max-width: 75%;
    }

    .header-row {
      padding: 10px;
      background: #f1f1f1;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      min-height: 45px;
    }

    .column {
      float: left;
    }

    .left {
      width: 15%;
    }

    .right {
      width: 10%;
    }

    .middle {
      width: 75%;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .dot {
      margin-top: 4px;
      height: 12px;
      width: 12px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }

    input[type=text] {
      width: 100%;
      font-size: 14px;
      border-radius: 3px;
      border: none;
      background-color: white;
      margin-top: -8px;
      height: 25px;
      color: #666;
      padding: 5px;
    }

    .bar {
      width: 17px;
      height: 3px;
      background-color: #aaa;
      margin: 3px 0;
      display: block;
    }

    .content {
      img {
        max-width: 100%;
      }
    }
  }

  .left-border {
    border-left: 1px solid #ccc;
  }

  .right-border {
    border-right: 1px solid #ccc;
  }

  .pro-desc {
    padding-bottom: 30px;

    .box-content {
      padding-top: 20px;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
    }
  }
}
