<meta name="description">Ultralist is the best task management software for software developers, SREs, and other command-line enthusiasts.  It's a free and open source CLI app, complimented by a sweet webapp that integrates with tools you already use on a daily basis.</meta>
<link rel="stylesheet" href="/css/syntax.css" />
<link rel="stylesheet" href="/css/terminal.css" />
<link rel="stylesheet" href="/css/base16-default-dark.css" />

<link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">
<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">

<script src="/js/ultralist.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)
},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37191428-7', 'auto');
  ga('send', 'pageview');
</script>
